/* Variables */
$small: 576px;
$medium: 768px;
$large: 992px;

/*Fonts */
$quicksand: "Quicksand", sans-serif;
$roboto: "Roboto", sans-serif;
$montserrat: 'Montserrat', sans-serif;


/* Font sizes */
$fs-base: 16px;
$fs-text: 18px;
$fs-small: 14px;
$fs-medium: 20px;
$fs-xxl: 60px;


/* Colors */
$text-color: #333;
$title-color: #555;
$primary-color: #ce8c36;
$primary-bgr: #f0e9d9;



